body{
	background-image: url("contact1.jpg");
background-size: 100%;
}
p{
	font-size: 25px;
	padding: 0px;
	margin: 0px;
	line-height: 1px;

}
a{
	font-size: 30px;
}

h2{
	font-size: 35px;
	font-weight: bold;
	color: #5D1503;
}
ul{
	font-size: 25px;
}