body{
	background-color: rgba(27,31,34,0.85);
	
}
h1{
	font-size: 2.1rem;
	line-height:1.4;
	letter-spacing: 0.5rem;
	text-align: center;
	margin-top: 60px;
	color: darkred;
}
.maindiv{
	position: relative;
	width: 42%;
	height: 400px;
	margin: auto;
	top: 50%
	border-color: white;
	border-style: solid;
	box-shadow: 1px 1px 10px white;

}	

.hero{
	
	width: 100%;
	height: 450px;
	margin: auto;
	top: 50%
	border-color: white;
	border-style: solid;
	box-shadow: 1px 1px 10px white;
	animation: 
}


